.detailedList {
  display: flex;
  flex-direction: column;
  background-color: #e4ebf5;
  box-shadow: 2px 2px 8px rgba(209, 207, 248, 0.5);
  width: 600px;
  border-radius: 10px;
  padding: 20px;

  &__listItem {
    font-size: 15px;
    margin-top: 5px;
    color: black;
  }

  &__title{
    font-size: 18px;
    margin-left: 10px;
    font-weight: 600;
  }

  &__text {
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
    color: black;
  }


  &__table-itle {
    text-align: center;
    margin: 10px 0;
  }
}

hr {
  width: 100%;
  height: .5px;
}
