.wrapper {
  border-radius: 20px;
  box-shadow: 0.8rem 0.8rem 1.4rem #c0c8dc, -0.2rem -0.2rem 1.8rem #fff;
  max-width: 582px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  margin: 0 auto;
}
