.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  box-shadow: 0.8rem 0.8rem 1.4rem #c0c8dc, -0.2rem -0.2rem 1.8rem #fff;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;

  &__logo {
    width: 40px;
    height: 40px;
  }
}
